<%- include('../public/partials/head.ejs') %>
<section class="main-app bg-dark-black">
    <%- include('../public/partials/frame.ejs') %>
    <%- include('../public/partials/bottom-menu.ejs') %>
    <%- include('../public/partials/side-menu.ejs') %>
    
    <section class="item-card text-light p-3 pb-5" style="height: 100%; overflow-y: scroll;">
        <img src="/img/sausage.png" alt="" style="object-fit: cover; width: 100%; height: 100dvw; background-color: rgba(0, 0, 0, 0.3);">
        <h1>Колбаса Минская</h1>
        <p>1190₽</p>
        <a href="/buy?id=123" class="btn btn-outline-success w-100">В корзину</a>
        <p class="m-0 mt-3 text-secondary ms-2">Описание:</p>
        <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sed vero, corrupti ipsam facilis quam quia, error quidem quo sequi aspernatur ullam veritatis voluptatibus. Alias autem laudantium fuga consequuntur sit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati unde, reiciendis, aliquid, dolorem recusandae distinctio molestiae minus voluptate in incidunt quam ex quisquam nemo modi architecto perspiciatis culpa totam!</p>
    </section>

</section>
    
<%- include('../public/partials/footer.ejs') %>